<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>io.github.kanaemi-app.inputmethod.Kanaemi</string>
	<key>CFBundleName</key>
	<string>かなえみ</string>
	<key>CFBundleDisplayName</key>
	<string>かなえみ</string>
	<key>CFBundleExecutable</key>
	<string>kanaemi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>CFBundleIconFile</key>
	<string>kanaemi</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>InputMethodConnectionName</key>
	<string>io.github.kanaemi-app.inputmethod.Kanaemi_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>KanaemiController</string>
	<key>TISIntendedLanguage</key>
	<string>ja</string>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>tsInputMethodIconFileKey</key>
	<string>kanaemi.png</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hira</string>
		<string>Kana</string>
		<string>Latn</string>
	</array>
</dict>
</plist>
